body {
	background-color: rgb(252, 230, 230);
	color: black;
	font-family: 'Playfair Display', serif;
	line-height: 1.5em;
	min-width: 800px;
}


h1 {
	font-size: 60px;
	text-align: center;
	padding: 10px;
}

h2 {
	font-size: 30px;
	text-align: center;
}


/*CONTROL BUTTONS FOR EVERY PAGE*/
nav{
	display: block;
}

nav a {
				border: 1px solid black;
				margin: 1%;
				padding: 7px;
				width: 13%;
				height: 40px;
				box-sizing: border-box;
				text-align: center;
				display: inline-block;
			}

nav a:hover {
	background-color: rgba(192, 192, 192, .4);
}

.dots {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: center;
	max-width: 30%;
	padding-bottom: 20px;
}



/*LANDING PAGE*/
.landing {
	background-color: black;
	/*background-image: url(../monogram.png);
	background-size: center;
	background position: right top;
	margin: 0;*/
}
.monogram {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: center;
	max-width: 30%;
	margin-top: 20%;
}
.monogram:hover {
	transition: transform .5s;
	transform: scale(1.5);
}



/*OVERVIEW PAGE*/
.text-column-overview {
	margin: 100px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_overview {
	text-decoration: none;
	color: black;
}
.text-column-overview img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}



/*EARLY LIFE PAGE*/
.text-column-earlylife {
	margin: 100px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_earlylife {
	text-decoration: none;
	color: black;
}
.text-column-earlylife img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}


/*MODELING PAGE*/
.text-column-modeling {
	margin: 100px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_modeling {
	text-decoration: none;
	color: black;
}
.text-column-modeling img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}

/*FILMS PAGE*/
.text-column-films {
	margin: 100px 5%;
	padding-right: 55%; /*width of space (not width of text)*/
	position: relative;
}
#btn_films {
	text-decoration: none;
	color: black;
}
.text-column-films img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}

/*LEGACY PAGE*/
.text-column-legacy {
	margin: 100px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_legacy {
	text-decoration: none;
	color: black;
}
.text-column-legacy img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}

/*SOURCES PAGE*/
.text-column-sources {
	margin: 100px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_sources {
	text-decoration: none;
	color: black;
}
.text-column-sources img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}


footer {
	font-size: 12px;
	margin: 100px 5%;
	padding-right: 55%;
	position: relative;
}





/*RESPONSIVE PARTS*/



@media (max-width: 800px) {


body {
	background-color: rgb(252, 230, 230);
	color: black;
	font-family: 'Playfair Display', serif;
	line-height: 1.5em;
	min-width: 10%;
	font-size: 11px;
}


h1 {
	font-size: 30px;
	text-align: center;
	padding: 10px;
}

h2 {
	font-size: 20px;
	text-align: center;
}


/*CONTROL BUTTONS FOR EVERY PAGE*/
nav{
	display: block;
}

nav a {
				border: 1px solid black;
				margin: 1%;
				padding: 6px;
				width: 13%;
				height: 30px;
				box-sizing: border-box;
				text-align: center;
				display: inline-block;
			}

nav a:hover {
	background-color: rgba(192, 192, 192, .4);
}

.dots {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: center;
	max-width: 30%;
	padding-bottom: 20px;
}



/*LANDING PAGE*/
.landing {
	background-color: black;
	/*background-image: url(../monogram.png);
	background-size: center;
	background position: right top;
	margin: 0;*/
}
.monogram {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: center;
	max-width: 30%;
	margin-top: 20%;
}
.monogram:hover {
	transition: transform .5s;
	transform: scale(1.5);
}



/*OVERVIEW PAGE*/
.text-column-overview {
	margin: 50px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_overview {
	text-decoration: none;
	color: black;
}
.text-column-overview img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}



/*EARLY LIFE PAGE*/
.text-column-earlylife {
	margin: 50px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_earlylife {
	text-decoration: none;
	color: black;
}
.text-column-earlylife img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}


/*MODELING PAGE*/
.text-column-modeling {
	margin: 50px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_modeling {
	text-decoration: none;
	color: black;
}
.text-column-modeling img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}

/*FILMS PAGE*/
.text-column-films {
	margin: 50px 5%;
	padding-right: 55%; /*width of space (not width of text)*/
	position: relative;
}
#btn_films {
	text-decoration: none;
	color: black;
}
.text-column-films img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}

/*LEGACY PAGE*/
.text-column-legacy {
	margin: 50px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_legacy {
	text-decoration: none;
	color: black;
}
.text-column-legacy img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}

/*SOURCES PAGE*/
.text-column-sources {
	margin: 50px 5%;
	padding-right: 55%;
	position: relative;
}
#btn_sources {
	text-decoration: none;
	color: black;
}
.text-column-sources img {
	position: absolute;
	right: 5%;
	box-shadow: 15px 15px;
	width: 45%;
}


footer {
	font-size: 10px;
	margin: 50px 5%;
	padding-right: 55%;
	position: relative;
}

}






















