body {
	font-family: 'Archivo Narrow', sans-serif;
}

h1 {
	margin: 0 0 0 0;
	font-size: 80px;

}

h2 {
	margin: 0 0 40px 0;
	font-size: 30px;
}

h3 {
	margin: 0 0 34px 0;
	text-align: center;
	font-size: 40px;

}

p{ 
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -.4px;
	line-height: 1.4;
 }

header {
	background-color: rgba(255,0,0,.5);
	color: rgb(50,100,255);
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
	padding: 150px 0 146px 0;
	background-image: url('../images/sunglasses-for-dogs.jpg');
	background-size: cover;
	background-position: center

}

section > div {
	width: 960px;
	/*background-color: rgba(0, 20, 100, .25);*/
	margin: auto;
	padding: 36px 0 34px 0;

}

section.section_one {
	background-color: rgba(255, 100, 0, .5);


}

.section_one img {
	float: right;
	width: 400px;
	height: 300px;
	margin-left: 30px;
	margin-bottom: 30px;
}


ul {
	list-style-type: none; /*took away bullet point that is default for unordered list*/
	margin: 0;
	padding:0;
}

li img {
	height: 150px;
	width: 200px;
	float: left;
	margin-right: 12px;
}

h4 {
	font-size:20px;
	line-height: 1.4;
	margin: 0 0 5px 0;

}

li {
	width: 50%;
	height: 175px;
	background-color: rgba(255, 0, 255, .3);
	padding-right: 25px;
	box-sizing: border-box;
	display: inline-block; /*this makes them go next to each other, flow inline*/
}

li p {
	margin: 0;

}

section.section_three {
	background-color: rgba(0, 100, 255, .3);

}

.section_three div {
	width: 960px;
	margin: auto;
	padding: 42px 0 100px 0;
}

.section_three p {
	font-size: 26px;
	text-align: center;
	margin: 0 113px 0 113px;
	line-height: 1.35em;
}

h5 {
	margin: 2px 0 0 0;
	font-size: 18px;
}









